/* -----------Customer------------ */

.Row{

  margin-left: 190%;
  height: 90%;
  width: 700%;
  background-color: rgb(213, 212, 225);
  overflow-y: scroll;
  border-radius: 2rem;
  margin-top: 15px;
  justify-content: center;
} 
.Row::-webkit-scrollbar {
  display: none;
}
.table-css{
margin-top : 3%;
background-color: white;
color: #000;
}

h2{
  margin-left : 2%;
  justify-content: center;
  color: var(--black);
}

/* -----------------Sidebar---------------- */ 
.container{
  display: flex;
  margin-left: -0.5%;
  /* margin-top: 1%;  */
}

main{
  width: 100%;
  padding: 5px;
}

.logo{
  color: orange;
}

.sidebar{
  background: rgb(5, 5, 57);
  color: #fff;
  height: 74vh;
  width: 200px;
  transition: all 0.5s;
  border-radius: 1rem;
}

.top_section{
  display: flex;
  align-items:center;
  width: 300px;
  padding:40px 20px;
}

.bars{
  display: flex;
  font-size: 30px;
  margin-left: 50px;
  margin-top: -30px;
  cursor: pointer;
}
.link{
  display: flex;
  color: rgb(236, 230, 230);
  padding: 15px 15px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
  border-radius: 1rem;
}
.link:hover{
  background:rgb(202, 206, 209);
  color: #000;
  transition: all 0.5s;
}
.active{
  background: rgb(202, 206, 209);
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
} 

/* -------------Dashboard------------------ */
.Dashboard{
  background: linear-gradient(90deg, #a8bccd 0%, #8080b1 35%, #405e65 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.DashGlass{ 
  margin-top: 6%;
  display: grid;
  height: 84%;
  width: 97%;
  border-radius: 2rem;
  background: var(--glass);
  overflow: hidden; 
  grid-template-columns: 11rem auto 20rem;
}

.Dash{ 
  margin-top: 1px;
  height: 5%;
  width: 80%; 
}

/* ---------------------------------------- */
.card-group {
  justify-content: center;
}

.card-grid, .card {
  padding: 5px 5px !important;
  height: auto !important;
  justify-content: center;
  margin: 1rem;
}

.card-body {
  background-color: #F6F5F5;
  margin: 0;
}

.card-img,
.card-img-top,
.card-img-bottom {
  height: 10rem;
  width: auto;
  align-content: flex-start;
}

.card-text {
  height: fit-content;
  margin-bottom: 2rem;
}


/* -------------------Orders------------- */
.Order{
  margin-left: 190%;
  height: 90%;
  width: 700%;
  background-color: rgb(213, 212, 225);
  overflow-y: scroll;
  border-radius: 2rem;
  margin-top: 15px;
}

.Order::-webkit-scrollbar {
  display: none;
}

.status{
  padding: 8px;
  border-radius: 9rem;
}

/* --------------------ServiceProvider------------------ */
.addbutton{
  margin-left: 190%;
  height: 90%;
  width: 700%;
  background-color: rgb(213, 212, 225);
  overflow-y: scroll;
  border-radius: 2rem;
  margin-top: 15px;
}
.addbutton::-webkit-scrollbar {
  display: none;
}

.edit{
  margin: 2% 5%;
  height: 95%;
  width: 120%;
  background-color: rgb(213, 212, 225);
  overflow-y: scroll;
  border-radius: 2rem;
}

.edit::-webkit-scrollbar {
  display: none;
}

.btn{
  margin-top: 3%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 20%;
  border-radius: 1rem;
  cursor: pointer;
}